<template id="main-page">
    <style>
        #wapper {
            background-color: yellowgreen;
            width: 720px;
            height: 680px;
        }
    </style>
    <div id="wapper" js-if="onList">{{title}} user name: {{user.name}}, user age: {{user.getAge() + 1}}
        <input type="text" model="title">
        <label>{{title}}</label>
        <ul js-loop="text in order.list">
            <li>{{text}}<span>{{sub}}</span> {{user.getAge() + 1 + ' years old'}}</li>
        </ul>
        <lable>sort number: {{sortStatus}}</lable>
        <p><b>{{sortNum}}</b></p>
        <label>socket message
            e counting : {{count}}</label>

        <div style="height: 100px;outline-style:dotted">
            remote Book's title: <input type="text" model="bookTitle">
            author: <input type="text" model="bookAuthor">
            <button js-click="saveBook()">Save</button>
            <button js-click="getBook()">Get</button>
            <p js-if="book">
                Book title: <b>{{book.title}}</b>
                author: <b>{{book.author}}</b>
            </p>
        </div>

        <div>
            set table title: <input type="text" model="tableTitle">
            <button js-click="changeTableTitle()">change</button>
        </div>

        <!-- TODO: add event binding on the dom attribute-->
        <button js-click="movePage()">next page</button>
    </div>
</template>

<script>
    (function() {
        'use strict';

        var pack = jSponsor.package('testPackage');
        pack.view('main-page', {
            document: document.currentScript.ownerDocument,
            ready: function(element) {
            }
        });
    })();
</script>